* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: Gotham Pro;
    src: url(Fonts/GothamPro-Light.ttf);
}

.container {
    max-width: 1126px;
    margin: 0 auto;
}

.block-padding {
    padding: 8% 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.8rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-navigation a {
    text-decoration: none;
    color: #606060;
    margin-left: 47px;
    text-transform: uppercase;
    font-weight: 600;
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1C1C30;
    font-size: 36px;
    margin-top: 4%;
    background: url(img/bacground-New.svg);
    background-size: contain;
    height: 70vh;
    background-position: center top;
    background-repeat: no-repeat;
}

.text {
    max-width: 728px;
    max-height: 141px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.button {
    border: 1px solid #5A3FA5;
    background-color: white;
    height: 2.6rem;
    width: 9rem;
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.button a {
    font-family: "Gotham Pro", sans-serif;
    color: #5A3FA5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.top_titles {
    text-align: center;
    color: #1C1C30;
    margin-bottom: 8%;
}

.top_titles>p {
    color: #606060;
    margin-top: 1%;
}

.top_titles>h1 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.wrap_elements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap_elem {
    position: relative;
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    height: 250px;
    border-radius: 5px;
}

.wrap_elem>.photo-div {
    position: absolute;
    top: -50px;
}

.photo-div>img {
    width: 100%;
}

.body-top {
    margin-top: 3%;
    scroll-behavior: smooth;
}

.block-body {
    padding: 10px 0;
    width: 68%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.block-body>h3 {
    margin: 0.3rem 0;
    font-family: "Gotham Pro", sans-serif;
    color: #1C1C30;
}

.block-body>p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    max-width: 260px;
    max-height: 55px;
    line-height: 130%;
    color: #606060;
}

.function {
    background: url(img/baground-footer-new.svg);
    background-size: contain;
    height: 80vh;
    background-position: left;
    background-repeat: no-repeat;
}

.function-text {
    text-align: center;
    margin-bottom: 6%;
}

.function-text-body>h1 {
    font-family: 'Lato', sans-serif;
    font-size: normal;
}

.function-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.function-elem {
    background-color: #fff;
    width: 295px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    height: 295px;
    border-radius: 50%;
}

.footer-button {
    height: 2.6rem;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    border: 1px solid #5A3FA5;
}

.footer-button a {
    text-decoration: none;
    color: #5A3FA5;
    font-weight: bold;
    font-family: "Gotham Pro", sans-serif;
}

.footer-bottom {
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.inputs>input {
    width: 49%;
    height: 50px;
}

.contact-form {
    width: 46%;
    margin: 0 auto;
}

.massage>input {
    width: 100%;
    height: 50px;
}

.massage {
    margin: 3% 0;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid #606060;
}

.footer-bottom>.top_titles {
    margin-bottom: 4%;
}

.top_titles>h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #606060;
    margin-top: 0.8rem;
}

.top_titles>h1 {
    font-style: normal;
    font-weight: normal;
}

.footer>p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
}

@media (max-width:768px) {
    .header-navigation {
        display: none;
    }
    .text {
        max-width: 78%;
        font-size: 24px;
    }
    .wrap_elem {
        width: 47%;
    }
    .photo-div {
        width: 70%;
    }
    .top_titles {
        margin-bottom: 16%;
    }
}

@media (max-width:1420px) {
    .function {
        height: 100%;
    }
}

@media (max-width:940px) {
    .function-block {
        justify-content: center;
    }
}

@media (max-width:565px) {
    .wrap_elem {
        width: 100%;
    }
    .function-elem {
        width: 310px;
        height: 310px;
    }
    .footer {
        font-size: 90%;
    }
}

@media (max-width:464px) {
    .body-text {
        height: 100vh;
    }
}